Click==7.0
cycler==0.10.0
dash==1.8.0
dash-bootstrap-components==0.8.2
dash-core-components==1.7.0
dash-daq==0.3.3
dash-html-components==1.0.2
dash-renderer==1.2.3
dash-table==4.6.0
Flask==1.1.1
Flask-Compress==1.4.0
future==0.18.2
matplotlib==3.1.2
numpy==1.22.0
pandas==1.0.0
plotly==4.5.0
pmdarima==1.5.3
xlrd >= 1.0.0